*{
	margin:	0px;
	padding: 0px;
	font-family: arial;
}
header {
	width:100%;
	height: auto;
}
 
header nav {
	width:100%;
	max-width:1000px;
	margin:20px auto;
	background:#024959;
}
header nav ul {
	overflow:hidden;
	list-style:none;
}
header nav ul li {
	float:left;
}
 
header nav ul li a {
	color:#fff;
	padding:20px;
	display:block;
	text-decoration:none;
}
 
header nav ul li span {
	margin-right:10px;
}
 
header nav ul li a:hover {
	background:#037E8C;
}
 
section {
	padding:20px;
}
 
@media screen and (max-width:800px ) {
header nav {
	width:80%;
	height:100%;
	left:-100%;
	margin:0;
	position: fixed;
}
 
header nav ul li {
	display:block;
	float:none;
	border-bottom:1px solid rgba(255,255,255, .3);
}
 
.menu_bar {
	display:block;
	width:100%;
	background:#ccc;
}
 
.menu_bar .bt-menu {
	display:block;
	padding:20px;
	background:#024959;
	color:#fff;
	text-decoration:none;
	font-weight: bold;
	font-size:25px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
 
.menu_bar span {
	float:right;
	font-size:40px;
}
}
.search{
	width: 15%;
	float: left;
	padding: 7px 10px;
	box-sizing: border-box;
	position: relative;
	transition: all .5s ease;
}
.search input{
	width: 180px;
	height: auto;
	border-radius: 50px;
	border: none;
	border-bottom: 1px solid #858585;
	padding: 0px 10px 0px 25px;
	margin-top: 10px;
	box-sizing: border-box;
	height: 22px;
	box-shadow: inset 0px 1px 3px rgba(0,0,0,.7);
	background-color: #797979;
}
.search input:focus{
	background: #fff;
	box-shadow: none;

}
.icon-home{
	display: block;
	position: relative;
	top: 2px;
}
.icon-search{
	position: absolute;
	bottom: 10px;
	left: 15px;
	color: #fff;
	text-decoration: none;
}
